<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link rel="stylesheet" href="/www/vender/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/www/css/reset.css">
  <link rel="stylesheet" href="/www/css/index.css">
  <script src="/www/vender/jquery/dist/jquery.js"></script>
  <script src="/www/vender/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
<div class=main>
  <div class="container">
  <div class="row">
      <div class="col-md-3">
        <a href="#" class="thumbnail col-md-12" style='height: 150px;'>

        </a>
        <h3 class="clearfix"><a href="#" class='fl'>星云纵横</a><span class='fr label-success'>查看</span></h3>
      </div>
      <div class="col-md-3">
         <a href="#" class="thumbnail col-md-12" style='height: 150px;'>

        </a>
        <h3 class="clearfix"><a href="#" class='fl'>北京之行</a><span class='fr label-success'>查看</span></h3>
      </div>
      <div class="col-md-3">
         <a href="#" class="thumbnail col-md-12" style='height: 150px;'>

        </a>
        <h3 class="clearfix"><a href="#" class='fl'>北京之行</a><span class='fr label-success'>查看</span></h3>
      </div>
      <div class="col-md-3">
         <a href="#" class="thumbnail col-md-12" style='height: 150px;'>

        </a>
        <h3 class="clearfix"><a href="#" class='fl'>北京之行</a><span class='fr label-success'>查看</span></h3>
      </div>
  </div>
</div>
</div>

</body>
<script src='/www/js/index.js'></script>
</html>
